***P9***. **Cakes**

In [ ]:
# For N = 5 -> best A = 3 -> leftover = 5 % 2 = 0
T = int(input())  # number of test cases
for _ in range(T):
    N = int(input())
    A = (N // 2) + 1
    print(A)

2
2
2
5
3

****P10.Loss in Business****

In [ ]:
N = int(input())     # total logon
X = int(input())     # minimum skill required

for _ in range(N):   # N baar loop chalega
    Y = int(input()) # har ek aadmi ka skill input lo
    if Y >= X:       # agar skill X se zyada ya big hai
        print("YES") # to wo partner ban sakta hai
    else:
        print("NO")  # warna nahi

4
90
80
NO
23
NO
110
YES
1
NO

P11.Time **Duration**

In [ ]:
# Number of works
N = int(input())

for _ in range(N):
    SH, SM, EH, EM = map(int, input().split())

    # Convert to total minutes
    start = SH * 60 + SM
    end = EH * 60 + EM

    # Duration in minutes
    duration = end - start

    # Convert back to hours and minutes
    H = duration // 60
    M = duration % 60

    print(H, M)

# Start = 2×60 + 42 = 162
# End = 8×60 + 23 = 503
# Duration = 503 − 162 = 341 minutes
#  5 hr 41 min

2
1 44 2 14
0 30
2 42 8 23
5 41

P12.GCD and LCM

In [ ]:
import math

T = int(input())  # number of test

for _ in range(T):
    X, Y = map(int, input().split())

    gcd = math.gcd(X, Y)
    lcm = (X * Y) // gcd

    print("Output:",gcd, lcm)

2
120 140
Output: 20 840
10213 312
Output: 1 3186456

P13.Who **Wins**

In [ ]:
N = int(input())

total = 0
i = 1

while total < N:
    total += i
    if total >= N:
        print("Ramesh")
        break

    total += 2 * i
    if total >= N:
        print("Suresh")
        break

    i += 1

13
Suresh

P14.Build a **Staircase**

In [ ]:
N = int(input())  # Read the number of levels

for i in range(1, N + 1):  # Loop from 1 to N
    print('#' * i)         # Print '#' i times

5
#
##
###
####
#####

P15.Pascal **Triangle**

In [ ]:
# 3 = 1 + 2
# 6 = 3 + 3

# C(i,j)=i!/j!(i−j)!
# next=current×(j+1)/(i−j)​

# Read number of rows
n = int(input("Enter number of rows: "))

# Create Pascal's triangle
for i in range(n):
    num = 1  # first number in each row is always 1
    for j in range(i + 1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)  # formula to get next number
    print()  # move to next line

Enter number of rows: 5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1